@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: 'Roboto', sans-serif;
  background: #212121;
  overflow: hidden;
}

.player1 {
  display: inline-block;
  width: 100vw;
  height: 100vh;
}